{% extends 'base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block contents %}

<div class="r page-title">
    <div class="col-4 title">
        <p>Concept</p>

    </div>
</div>

<div class="eyecatch-image">
</div>

<section id="home-concept">
    <h1>コンセプト</h1>
    <p class="title-border">Concept</p>
    <p class="explain-text">どなたにも安心してお使いいただくため、<br>
    数万種類以上から選び抜いたスキンケアに有効かつ安全な植物を、<br>
    自社農園で大事に育てています。<br>
    <br>
    植物の栄養をじっくりと熟成させ、<br>
    一滴一滴丁寧に抽出したエキスから生まれた<br>
    オーガニックコスメ、<br>
    「AKARI organic」。<br>
    <br>
    あなたの肌を、<br>
    本来の美しく健康な状態へ導きます。</p>
    <div class="button-area">
        <a class="btn-border" href="{% url 'main:concept' %}">
            <span>Concept</span>
        </a>
    </div>
</section>

<section id="home-about">
    <h1>MyCafeとは</h1>
    <p class="title-border">About</p>
    <div class="r">
        <div class="col-5">
            <img src="{% static 'img/menu1.jpg' %}" alt="MyCafe">
        </div>
        <div class="col-5">
            <h3>よくあるご質問</h3>
            <div class="h3-border"></div>
            <p class="explain-text">オーガニックコスメはとってもデリケートな商品のため、<br>
                正しい使い方をしないと効果が半減してしまいます。<br>
                保管方法で注意すること、使用期限、敏感肌でも安心して使える・・・？<br>
                製品に関するお客様からのご質問にお答えいたします。</p>
            <div class="button-area">
                <a class="btn-border" href="{% url 'main:faq' %}">
                    <span>FAQ</span>
                </a>
            </div>
        </div>
    </div>

    <div class="r">
        <div class="col-5">
            <h3>オリジナルショップ</h3>
            <div class="h3-border"></div>
            <p class="explain-text">AKARI organicオリジナルショップでは、製品をご購入いただける他、<br>
                オリジナル化粧品を手作りできるアロマバーをご利用いただけます。<br>
                あなたの肌質やお肌の悩み、お好みの香りに合わせ、
                <br>世界で一つだけのオリジナルブレンドオイルをおつくりいたします。</p>
            <div class="button-area">
                <a class="btn-border" href="{% url 'main:shop' %}">
                    <span>Shop</span>
                </a>
            </div>
        </div>
        <div class="col-5">
            <img src="{% static 'img/menu2.jpg' %}" alt="MyCafe">
        </div>
    </div>

</section>

<section id="home-products">
    <h1>商品一覧</h1>
    <p class="title-border">products</p>
    <div class="r">
        <div class="col-3">
            <a href="#">
            <img src="{% static 'img/menu3.jpg' %}" alt="MyCafe">
            </a>
            <p class="explain-text">商品A</p>
        </div>
        <div class="col-3">
            <a href="#">
            <img src="{% static 'img/menu4.jpg' %}" alt="MyCafe">
            </a>
            <p class="explain-text">商品A</p>
        </div>
        <div class="col-3">
            <a href="#">
            <img src="{% static 'img/menu5.jpg' %}" alt="MyCafe">
            </a>
            <p class="explain-text">商品A</p>
        </div>
    </div>
    <div class="button-area">
        <a class="btn-border" href="{% url 'main:products' %}">
            <span>Products</span>
        </a>
    </div>
</section>

{% endblock %}
